section.about.padding_wrap
    .container
        .double_border
            p.double_border_title О пивоварне


            .about_content.row
                .col-md-6
                    .about_brewery_image
                .col-md-6
                    h2.title.title_bordered.title_bordered_left Крафтовая пивоварня «Белогорье»
                    div
                        | Крафтовая пивоварня «Белогорье» - это команда людей, жизнь которых всецело посвящена
                        |пивоварению. Наш пивовар Андрей Кривша работал на многих пивоварнях города. Кроме того он
                        |до сих пор варит пиво дома и ведет курсы домашних пивоваров. В 2017 году мы открыли
                        |собственную пивоварню в с. Белогорье (ст. Призейская) возле железнодорожного моста
                        |через р. Зея. Близость к родникам с хорошей водой и удаленность от городской, шумной
                        |и загрязненной атмосферы определило расположение нашей пивоварни. Весь наш опыт, накопленный
                        |за 9 лет работы, мы используем на нашей крафтовой пивоварне в Белогорье.

            .about_craft
                h2.title.title_bordered.title_bordered_center.text-center Что такое Крафтовое пиво?
                .text-center
                    | Слово «Craft» в переводе с английского означает «ремесло». То есть крафтовое пиво - есть пиво
                    | ремесленное. Что же это значит? А значит это то, что крафтовое пиво варит конкретный автор - ремесленник.
                    | Как правило, это пивовар или группа увлеченных пивоваров, которые относятся к пивоварению не
                    | только как к способу заработать на жизнь, но и как к своему любимому ремеслу,  делу всей своей жизни.
                    | Мы не ориентируемся на «массовое» пиво, мы делаем пиво таким, каким его видим мы.
                    | Мы являемся адептами и единомышленники огромного крафтового сообщества развивающегося в России
                    | и во всем мире. Ведь не важно, будь то еда, пиво, вино или пошив одежды, все мы хотим лучших
                    | товаров и услуг от настоящих мастеров и фанатов.
                    | Именно поэтому мы рады предложить вам лучшее что есть у нас – наше пиво.

            .about_preims.text-center
                .row
                    .col-md-3
                        .icon-with
                        .about_preims_text занимаемся производством пива с 2008 года
                    .col-md-3
                        .icon-profi
                        .about_preims_text мы пришли в профессию из экспериментального домашнего пивоварения
                    .col-md-3
                        .icon-pivovar
                        .about_preims_text
                            |наш пивовар имеет большой опыт работы, а также прошел стажировку у
                            |специалистов международных пивоваренных и технологических компаний
                    .col-md-3
                        .icon-life
                        .about_preims_text пивоварение – для нас больше чем бизнес, пивоварение – это вся наша жизнь

