footer.footer
    .container
        .row
            .col-md-4
                .footer_block
                    .footer_block_title Адреса и телефоны
                    .footer_block_content г. Благовещенск, ул. Ленина 142
                        br
                        . г. Благовещенск, с. Белогорье, ул. Набережная 30