//
   Created by Nihrom on 22.06.2017.
header.header(data-aos="fade-down")
    nav.navbar.navbar-toggleable-md
        .container
            a.navbar-brand.hidden-lg-up(href="#") Navbar
            button( class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false")
                span.navbar-toggler-icon

            .collapse.navbar-collapse(id="navbarNav")
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href="#") Главная
                    li.nav-item
                        a.nav-link(href="#") Пивоварня
                    li.nav-item
                        a.nav-link(href="#") Наше пиво
                    li.nav-item
                        a.nav-link(href="#") Галерея
                a.navbar-brand.m-auto(href="#")
                    img(src="images/logo.png")
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href="#") Где купить
                    li.nav-item
                        a.nav-link(href="#") Контакты
                    li.nav-item.social.ml-auto
                        a.fa-stack(href="#")
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-vk.fa-stack-1x.fa-inverse
                    li.nav-item.social
                        a.fa-stack(href="#")
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-instagram.fa-stack-1x.fa-inverse
                    li.nav-item.social
                        a.fa-stack(href="#")
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-facebook.fa-stack-1x.fa-inverse

