section.shops.padding_wrap
    .container
        .double_border
            p.h2.double_border_title Где купить?


            .shops_content.row
                .col-md-7
                    h2.title.title_bordered.title_bordered_left Магазин Литръ
                .col-md-5.text-right
                    a.btn.btn-outline-primary.text-uppercase(href="#")
                        i.fa.fa-map-marker.fa-fw.fa-lg
                        | Все магазины
            .shops_content.row
                .col-md-7
                    div
                        |Уникальный и единственный в своем роде пивной магазин «ЛитрЪ» был открыт 12 октября 2012 года.
                        |Впервые за прилавком стоял не коммерсант, а самый настоящий пивовар.
                        |Возможность иметь постоянную прямую связь с нашими клиентами, позволяет нам оперативно менять
                        |рецептуры наших многочисленных сортов, а также моментально реагировать на любые пожелания покупателей.
                        |Кроме того, наши глаза всегда открыты, и мы несем личную ответственность за наше пиво, стоя
                        |за прилавком самостоятельно, непосредственно перед потребителем.
                        |Мы регулярно поддерживаем домашних пивоваров, предлагая к продаже сырьё для домашнего
                        |пивоварения и проводим регулярные бесплатные курсы для домашних пивоваров.
                        |С приходом крафтового пива в нашу страну, наш магазин стал одним из первых представлять лучшее
                        |ремесленное пиво со всей страны и со всего мира. Ведь именно настоящие пивовары, могут
                        |разобраться в этом огромном мире необычного, ремесленного пивоварения, объяснить людям
                        |преимущества и недостатки каждого сорта.
                        |Магазин Литр это не просто пивной магазин. Это тусовка людей неравнодушных
                        |к профессиональному и домашнему пивоварению, а также к интересному и качественному пиву.

                .col-md-5
                    .shops_litr_image
