.header{
  max-height: 120px;
  overflow: hidden;
  margin-bottom: -120px;
  position: relative;
  z-index: 10;
  .navbar-nav{
    align-items: center;
  }
  .nav-link{
    font-family: $ff-secondary;
    font-weight: bold;
    color:$inverse-color2;
    font-size: 1.125rem;
    text-shadow: 1px 1px 5px rgba(0,0,0,.5);
    text-transform: uppercase;
    position: relative;
    padding-right: 1.4rem !important;
  }

  .nav-item + .nav-item > .nav-link::before{
    content: '';
    position: absolute;
    left: -8px;
    @include centerer-y();
    display: block;
    width: 5px;
    height: 5px;
    background-color: rgba(255,255,255, .5);
    border-radius: 5px;

  }

  .navbar-nav.social .nav-link{
    padding-right: .5rem !important;
  }
}