body{
  font-family: $ff-main, sans-serif;
  color: $primary-color;
  font-weight: 400;
  font-size: 0.9rem;
  overflow-x: hidden;
}
address{
  margin-bottom: 0px;
}
input:focus{
  outline: none;
  box-shadow: none;
  border-color:#9e9e9e;
}
button{
  cursor: pointer;
}
*:focus{
  outline: 0;
}