/*
  Padding wrap
*/
.padding_wrap{
  padding-top: 80px;
  padding-bottom: 40px;
}


/*
  Border Block
*/
.double_border{
  position: relative;
  border: 2px solid $border-block-color;
  padding: 60px;
  max-width: 1000px;
  margin: 0 auto;

  &:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -14px;
    left: 10px;
    right: 10px;
    bottom: -14px;
    border: 2px solid $border-block-color;
  }

  &_title{
    text-transform: uppercase;
    font-size: 1.125rem;
    display: inline-block;
    padding: 0 2rem;
    top:-17px;
    z-index: 10;
    background: $bg-primary;
    @include centerer-x();
  }
}

/**
  Title image
*/
.title{
  &_image{
    margin: 10px auto;
  }
}
/**
  Border Titles
*/
.title_bordered{


  margin-bottom: 2.8rem;

  &::after{
    content: '';
    position: relative;
    bottom: -1.4rem;
    display: block;
    width: 70px;
    height: 2px;
    left:-20px;
    background: $bg-secondary;
  }

  &_center::after{
    left: calc(50% - 35px);
  }

}

/*
  Fancybox
*/
.fancybox{
  display: block;
  position: relative;

  &_overlay{
    position: absolute;
    top: 0;
    left:0 ;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(199, 179, 108, .5);
    transition: .5s;

    &_icon_hover{
      opacity: 0;
      color: rgba(199, 179, 108, .8);
      transition: .7s;
      @include centerer-x();
      bottom: 0;
    }

  }


  &:hover &_overlay{
    background-color: transparent;

    &_icon_hover{
      opacity: 1;
      @include centerer-xy();
      bottom: initial;
    }
  }

  &_overlay_inverse{
    position: absolute;
    visibility: hidden;
  }

  &:hover  &_overlay_inverse{
    position: absolute;
    visibility: visible;
    top: 0;
    left:0 ;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(199, 179, 108, .5);
    transition: .5s;

    &_text{
      @include centerer-xy();
      text-transform: uppercase;
      color:#fff;
      text-shadow: 1px 1px 3px #232323;
      font-size: 1.2rem;
    }
  }
}

/*
  Carousel
*/
.carousel-indicators{
  bottom: -40px;
  li{
    background-color: rgba(199, 179, 108, 0.50);
    &:hover{
      background-color: rgba(199, 179, 108, 1);
    }
  }
  .active{
    background-color: rgba(199, 179, 108, 1);
  }
}