// Fonts
$ff-main: 'Roboto';
$ff-secondary: 'Oswald';

$primary-color: #4d4d4d; //Обычный цвет текста
$secondary-color: #aaaaaa; //Фторостепенный цвет текста
$header-color: #2d2d2d; //Цвет заголовков
$header-inverse-color: #fff; //Цвет заголовков
$inverse-color: #c7b36c; //Цвет инверсированный
$inverse-color2: #fff; //Цвет инверсированный

//Border Block Color
$border-block-color: #dfdfdf;


//Background
$bg-primary: #fafafa;
$bg-secondary: #c7b36c;
$bg-footer: #272725;
$bg-copyright: #1c1c1a;